.Rproj.user/
archives/
*.html
.Rhistory
*/data
*/FB_x64
*/test_data
*.tif
R-code/TRIAADS/gigafire-randig-calfire-treemap/data/randig-inputs/
R-code/TRIAADS/gigafire-randig-calfire-treemap/data/randig-outputs/