.Rproj.user/
archives/
.Rhistory
*/data
*/FB_x64
*/test_data
*.tif
R-code/TRIAADS/gigafire-randig-calfire-treemap/data/randig_inputs/
R-code/TRIAADS/gigafire-randig-calfire-treemap/data/randig_outputs/
R-code/htmls/
.Rproj.user
